<div>
  This application is running on <%= container %>.
</div>

<div>
  The current time is <%= now %>
</div>

<div>
  Seriously, it's running.
</div>

<div>
  Forsooth, I am but a lowly differentiator!
</div>

<h1>And I am a very large differentiator!</h1>
