<div>
  This application is running on <%= container %>.
</div>

<div>
  The current time is <%= now %>
</div>

<div>
  Update! 20:41
</div>

<div>
  New update 21:33
</div>

<div>
  Newest update 22:24
</div>
