<div>
  This application is running on <%= container %>.
</div>

<div>
  The current time is <%= now %>
</div>

<div>
  This is today's update, 10.04.2018 15:46
</div>

<div>
  This is new update, 10.04.2018 16:05
</div>
